# Exercise Level 1

## 1 Check python version you are using

In [10]:
!python --version

Python 3.10.8

# Open the python interative shell and do the following operations

In [11]:
print(3 + 4)
print(3 - 4)
print(3 * 4)
print(3 / 4)
print(3 ** 4)
print(3 % 4)
print(3 // 4)

7
-1
12
0.75
81
3
0

# 3  Write strings on the pytjon interactive shell. The strings are the following:

#Your name

In [12]:
print('Muhammad Abubakar Yaro')

Muhammad Abubakar Yaro

#Your family name

In [13]:
print('Engr Abubakar Yaro Family')

Engr Abubakar Yaro Family

#Your Country

In [14]:
print('Nigeria')

Nigeria

#I am enjoying 30 days of python

In [15]:
print('I am enjoying 30 days of python')

I am enjoying 30 days of python

# 4 Check the data types of the following

#10

In [1]:
print(type(10))

<class 'int'>

#9.8

In [2]:
print(type(9.8))

<class 'float'>

#3.14

In [3]:
print(type(3.14))

<class 'float'>

#4 - 4j

In [4]:
print(type(4 - 4j))

<class 'complex'>

#['Asabeneh', 'python', 'Finland']

In [5]:
print(type(['Asabeneh', 'Python', 'Finland']))

<class 'list'>

#Your name

In [6]:
print(type('Muhammad ABubakr Yaro'))

<class 'str'>

#Your family name

In [7]:
print(type('Yaros'))

<class 'str'>

#Your country

In [8]:
print(type('Nigeria'))

<class 'str'>

# Exersice Level 3

#write an example for diffrent python data types

#Such as Numbers(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary

In [9]:
#Integer Example
print(9)
print(8)

#Float Example
print(3.98)
print(4.44)

#Complex Example
print(7 + 7j)

#String Example
print('Muhammad')

#List Example
print('Muhammad', 23, 'Abubakr', 14)

#Tuple Example
print('Muhd', 'Yaro')

#Set Example
print({6, 5, 7})

#Dictionary Example
print({'Barnmingham': 20, 'Liester': 44})

9
8
3.98
4.44
(7+7j)
Muhammad
Muhammad 23 Abubakr 14
Muhd Yaro
{5, 6, 7}
{'Barnmingham': 20, 'Liester': 44}

#Euclidian distance Example

In [10]:
import math
p1 = 2
p2 = 3
q1 = 10
q2 = 8

d = ((q1 - p1) ** 2) + ((q2 + p2) ** 2)
ed = math.sqrt(d)
print(ed)

13.601470508735444