# Exersice - Day 3

# 1.

In [ ]:
age = 23

# 2.

In [ ]:
height = 6.5

# 3.

In [ ]:
z = 5 + 4j

# 4.

In [3]:


b = 20
h = 10

area = 0.5 * ( b * h )
print(f"The area of triangle is: {area}")

The area of triangle is: 100.0

# 5.

In [4]:

a = 5
b = 4
c = 3

paremeter =  a + b + c
print(f"The paremeter of a triangle is: {paremeter}")

The paremeter of a triangle is: 12

# 6.

In [6]:
length = 5
width = 5

area = length * width
print(f"The area is: ")



length = 5
width = 5

perimeter = 2 * (length * width)
print(f"The perimeter is: {perimeter}")

The area is:
The perimeter is: 50

# 7.

In [3]:
r = 360
pi = 3.14

c = 2 * pi * r
print(f"The circumference is: {c}")

The circumference is: 2260.8

# 8.

In [7]:

y = 2
x = (y + 2) / 3

print(f"x-intercept value is: {x}")

# y-intercept
x = 1
y = (2 * x) -2

print(f"y-intercept value is: {y}")

x-intercept value is: 1.3333333333333333
y-intercept value is: 0

# 9.

In [1]:
x1 = 2
x2 = 6
y1 = 2
y2 = 10

m = (y2 - y1) / (x2 - x1)
print(f"The slope(m) is: {m}")

The slope(m) is: 2.0

# 10.

In [45]:
slope_tsk8 = 0
slope_tsk9 = 2
print(slope_tsk8 + slope_tsk9)

2

# 11.

In [44]:
y = 4^2 + 65 + 9
print(y)

72

# 12.

In [1]:
p = len("python")
d = len("dragon")

print(p > d)
print(p != d)
print(d < p)
print((p != d) and (d < p))

False
False
False
False

# 13.

In [5]:
print("on" in "python")
print("on" in "dragon")

True
True

# 14.

In [6]:
sentence = "I hope this course is not full of jargon"
print("jargon" in sentence)

True

# 15.

In [7]:
d = "dragon"
p = "python"

print("on" not in d)
print("on" not in p)

False
False

# 16.

In [8]:
length = len("python")

print(float(length))
print(str(length))


print(type(str(length)))

6.0
6
<class 'str'>

# 17.

In [1]:
number = 5

if (number % 2) == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

5 is odd.

# 18.

In [7]:
a = 7
b = 3

f_division = a // b
print(int(f_division))

2

# 19.

In [8]:
x = "10"
y = 10

print((type(x)) == (type(y)))

False

# 20.

In [9]:
a = "9.8"
b = 10

print((type(a)) == (type(int(b))))

False

# 21.

In [1]:
hour = 40
rate_per_hour = 28

pay = hour * rate_per_hour 
print(f"Your weekly earning is ${pay}")

Your weekly earning is $1120

# 22.

In [1]:
years =int(45)
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24
days_per_year = 365
years_lifespan = 100

seconds_alive = years * days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute


print("A person can live approximately", seconds_alive, "seconds.")

A person can live approximately 1419120000 seconds.

# 23.

In [2]:
print("1\t1\t1\t1\t1")
print("2\t1\t2\t4\t8")
print("3\t1\t3\t9\t27")
print("4\t1\t4\t16\t64")
print("5\t1\t5\t25\t125")

1	1	1	1	1
2	1	2	4	8
3	1	3	9	27
4	1	4	16	64
5	1	5	25	125