# Exersice Day 7.

# Exersice level 1.

## 1.

In [2]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
ln = len(it_companies)
print(ln)

7

# 2.

In [3]:
it_companies.add("Twitter")
print(it_companies)

{'Microsoft', 'Google', 'Facebook', 'Twitter', 'Oracle', 'Apple', 'Amazon', 'IBM'}

## 3.

In [6]:
it_companies_2 = {"SpaceX", "Apple"}
it_companies.update(it_companies_2)

print(it_companies)

{'Google', 'Twitter', 'Oracle', 'Apple', 'IBM', 'SpaceX', 'Microsoft', 'Facebook', 'Amazon'}

# 4.

In [7]:
it_companies.remove("Amazon")
print(it_companies)

{'Google', 'Twitter', 'Oracle', 'Apple', 'IBM', 'SpaceX', 'Microsoft', 'Facebook'}

## 5.

In [ ]:
The diffrence betweem remove and discard is remove raises an error if the element doesnt exist while discard doesnt raise an error

# Exersice level 2.

## 1.

In [8]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

A.union(B)
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}