# Exeresice: Day 5

# 1.

In [ ]:
empty_list = list()

# 2, 3 & 4.

In [8]:
states = ['kano', 'katsina', 'kaduna', 'kebbi', 'jigawa', 'zamfara']
print('Number of states:', len(states))

first_item = states[0]
print(first_item)
last_item = states[-1]
print(last_item)

Number of states: 6
kano
zamfara

# 5.

In [5]:
mixed_data_types = ['Muuhammd', 24, 6.5, 'Single', 'Gwale, Kano']
print(mixed_data_types)

['Muuhammd', 24, 6.5, 'Single', 'Gwale, Kano']

# 6, 7, 8, & 9.

In [10]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'] #6
print(it_companies) #7
print(len(it_companies)) #8

#9
first_company = it_companies[0]
print(first_company)

middle_company = it_companies[-4]
print(middle_company)

last_company = it_companies[-1]
print(last_company)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
Apple
Amazon

# 10.

In [11]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies[2] = "X"
print(it_companies)

['Facebook', 'Google', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 11.

In [12]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append("Cisco")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Cisco']

# 12.

In [14]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
len_of_it_company = len (it_companies)
middle = len_of_it_company // 2
it_companies[3] = "Flutter"

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Flutter', 'IBM', 'Oracle', 'Amazon']

# 13.

In [15]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies[2].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 14.

In [19]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 15.

In [20]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
checking_1 = "Facebook" in it_companies
checking_2 = "Twitter" in it_companies
checking_3 = "Amazon" in it_companies

print(checking_1)
print(checking_2)
print(checking_3)

True
False
True

# 16.

In [21]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

# 17.

In [22]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort
print(it_companies)

it_companies.sort(reverse=True)
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

# 18.

In [23]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
slicing =it_companies[0:3]
print(slicing)

['Facebook', 'Google', 'Microsoft']

# 19.

In [26]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
slicing_2 = it_companies[-3:]
print(slicing_2)

['IBM', 'Oracle', 'Amazon']

# 20.

In [27]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies[3] = "Amazon"
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Amazon', 'IBM', 'Oracle', 'Amazon']

# 21.

In [35]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.remove("Facebook")
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 22.

In [41]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove("Apple")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

# 23.

In [42]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove("Amazon")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# 24.

In [44]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()

print(it_companies)

[]

# 25.

In [46]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 26.

In [45]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

join_list = front_end + back_end
print(join_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

# 27.

In [50]:
full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
print(full_stack)

full_stack.append("Python")
full_stack.insert(2, "SQL")
full_stack.append("Redux")
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'SQL', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'Python', 'Redux']

### Exercises: level 2

# 1.

In [64]:
#-
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]


sorted_ages = sorted(ages)
print(sorted_ages)

min_age = min(sorted_ages)
print(min_age)

max_age = max(sorted_ages)
print(max_age)

sorted_ages.append(min_age)
print(min_age)

sorted_ages.append(max_age)
print(max_age)

#-

length = len(sorted_ages)
if length % 2 == 1:
    median_age = sorted_ages[length // 2]
else:
    middle1 = sorted_ages[length // 2 - 1]
    middle2 = sorted_ages[length // 2]
    median_age = (middle1 + middle2)/2
    
    print(middle1)
    print(middle2)
    print(median_age)
#-
average_age = sum(sorted_ages)/ len(sorted_ages)
print(average_age)

#-
age_range = max_age - min_age
print(age_range)

#-

min_average_diff = abs(min_age - average_age)
max_average_diff = abs(max_age -average_age)

print(min_average_diff)
print(max_average_diff)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
19
26
24
24
24.0
22.75
7
3.75
3.25